---
title: Grid Flip
description: Image grid that repositions and transform on scroll
identifier: gsap-02
tags: gsap
---
<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<meta name="description" content="{{description}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ '/css/common.css' | url }}">
		{%- set cssUrl %}/css/{{ identifier }}.css{% endset -%}
		<link rel="stylesheet" href="{{ cssUrl | url }}">
	</head>

	<body>
		<main>
			{% include "breadcrumbs.njk" %}

			<article class="content">
				<div class="container-small">
					<p>Lorem amet placeat quo neque rerum. Dolorum totam distinctio distinctio ad voluptates Itaque impedit labore voluptatem provident optio. Distinctio exercitationem est sunt molestias enim? Quia eos libero perferendis delectus quidem</p>
					<p>Adipisicing quidem quas eius ipsa ipsa, ab odit? Quasi libero aspernatur sit deserunt corporis veniam! Qui ut dolorem harum iste porro eveniet Nobis eum commodi sapiente cumque mollitia, perspiciatis. Sapiente?</p>
					<p>Elit odio vel velit recusandae harum? Rerum quasi nostrum animi ipsum quasi. Voluptate amet perspiciatis labore laboriosam inventore. Nihil ipsum labore vel rem expedita odit Provident molestiae eaque officiis cum consectetur ex nisi quidem autem dolorum, illum, possimus. Minus ducimus labore ut minima voluptates voluptates! Illum molestiae nihil cumque labore iste? Accusantium debitis laboriosam doloremque atque a Deleniti saepe recusandae.</p>
				</div>


				<div class="container-wide">

				<div class="grid-image grid-image-1">
					<div class="grid-el image-a color-a">
						<img class="grid-el-img-1" src="https://images.unsplash.com/photo-1454496522488-7a8e488e8606?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2076&q=80" alt="">
						<img class="grid-el-img-2" src="https://images.unsplash.com/photo-1456066775592-f14f4ea694a4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2128&q=80" alt="">
					</div>
					<div class="grid-el image-b color-b">
						<img class="grid-el-img-1" src="https://images.unsplash.com/photo-1434394354979-a235cd36269d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1751&q=80" alt="">
						<img class="grid-el-img-2" src="https://images.unsplash.com/photo-1464278533981-50106e6176b1?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1674&q=80" alt="">
					</div>
					<div class="grid-el image-c color-c">
						<img class="grid-el-img-1" src="https://images.unsplash.com/photo-1485160497022-3e09382fb310?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="">
						<img class="grid-el-img-2" src="https://images.unsplash.com/photo-1611605645802-c21be743c321?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1770&q=80" alt="">
					</div>
				</div>

				</div>

				<div class="container-small">
					<p>Lorem amet placeat quo neque rerum. Dolorum totam distinctio distinctio ad voluptates Itaque impedit labore voluptatem provident optio. Distinctio exercitationem est sunt molestias enim? Quia eos libero perferendis delectus quidem</p>
					<p>Adipisicing quidem quas eius ipsa ipsa, ab odit? Quasi libero aspernatur sit deserunt corporis veniam! Qui ut dolorem harum iste porro eveniet Nobis eum commodi sapiente cumque mollitia, perspiciatis. Sapiente?</p>
					<p>Elit odio vel velit recusandae harum? Rerum quasi nostrum animi ipsum quasi. Voluptate amet perspiciatis labore laboriosam inventore. Nihil ipsum labore vel rem expedita odit Provident molestiae eaque officiis cum consectetur ex nisi quidem autem dolorum, illum, possimus. Minus ducimus labore ut minima voluptates voluptates! Illum molestiae nihil cumque labore iste? Accusantium debitis laboriosam doloremque atque a Deleniti saepe recusandae.
					</p>
				</div>

			</article>
		</main>

		{%- set jsUrl %}/js/{{ identifier }}.js{% endset -%}
		<script type="module" src="{{ jsUrl | url }}"></script>
	</body>
</html>
