<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8" />
		<title>Animation Playground</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ '/css/common.css' | url }}">
	</head>

	<body>
		<main id="content">
			<div class="container">
				<h1>Animation Playground</h1>
				<p>Playing around with different techniques and animation stacks.</p>
				<hr>
				<h2>Areas:</h2>
				<ul>
					<li><a href="{{ '/thoughts/' | url }}">Thoughts/Research</a></li>
					<li><a href="{{ '/css-animations/' | url}}">CSS Animations</a></li>
					<li><a href="{{ '/gsap/' | url}}">Greensock Animations</a></li>
					<li><a href="{{ '/waapi/' | url }}">WAAPI (Web Animation API)</a></li>
					<li><a href="{{ '/random/' | url }}">Random Effects</a></li>
				</ul>
			</div>
		</main>
	</body>
</html>
