<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<meta name="description" content="{{description}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include "shared-css.njk" %}
	</head>

	<body>
    <main id="content">
      {% include "breadcrumbs.njk" %}
    </main>

    {% include "shared-js.njk" %}
	</body>
</html>
