<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8" />
		<title>01 - Basics</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ '/css/common.css' | url }}">
		<link rel="stylesheet" href="{{ '/css/css-01.css' | url }}">
	</head>

	<body>
		<main id="content">
			<code class="breadcrumbs">
				<a href="{{ '/' | url }}">&larr; Animation</a> / <a href="{{ '../ '}}">CSS Animations</a>
			</code>

			<div class="image-wrapper">
				<div class="image-ribbon"></div>
				<div class="overlay"></div>
			</div>

			<div class="container text-center">
				<h1><code class="text-gray">01:</code> Infinite Scrolling Image Background</h1>
				<code class="breadcrumbs">
					<a href="https://github.com/nathanlong/animation/blob/main/css/css-01.css">CSS Source</a>
					|
					<a href="https://github.com/nathanlong/animation/blob/main/js/css-01.js">JS Source</a>
				</code>
				<div class="button-controls text-center">
				<button id="speed-up">Speed up animation</button>
				<button id="reset">Reset Speed</button>
				<button id="change">Change BG</button>
				<p>View CSS and JS for explanation.</p>
				<p>Speed up for stutter checking to ensure smooth scroll</p>
				<p>Currently only computes image height on load (reload if you resize window)</p>
				</div>
				<div class="button-controls">
				</div>
			</div>
		</main>

		<script src="{{ '/js/css-01.js' | url }}"></script>
	</body>
</html>
