<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8" />
		<title>Animation Playground</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ '/public/css/common.css' | url }}">
	</head>

	<body>
		<main id="content">
			<div class="container flow m-content">
        <header class="flex gap items-center">
          <img class="header-image" src="https://user-images.githubusercontent.com/623568/207959370-a7a9d3ba-98a9-4787-9376-a8f3d1fae38e.png" alt="Red squiggly line on black field with dots indicating motion">
          <div>
            <h1>Animation Playground</h1>
          </div>
        </header>
        <p class="flow-0">Playing around with different techniques and animation stacks.</p>
				<hr>
				<h2>Areas:</h2>
				<ul>
					<li><a href="{{ '/a11y/' | url }}">Accessibility (a11y)</a></li>
					<li><a href="{{ '/css/' | url}}">CSS</a></li>
					<li><a href="{{ '/gsap/' | url}}">Greensock (GSAP)</a></li>
					<li><a href="{{ '/native/' | url }}">Native Browser APIs</a></li>
					<li><a href="{{ '/lib/' | url}}">Various Libraries</a></li>
					<li><a href="{{ '/svg/' | url }}">SVG</a></li>
					<li><a href="{{ '/mixed/' | url }}">Mixed Techniques</a></li>
				</ul>
			</div>
		</main>
	</body>
</html>
