---
title: Pause, Stop, Hide
description: Global animation toggle controls
identifier: a11y-01
tags: a11y
---
<!DOCTYPE html>
<html class="" lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<meta name="description" content="{{description}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ '/css/common.css' | url }}">
		{%- set cssUrl %}/css/{{ identifier }}.css{% endset -%}
		<link rel="stylesheet" href="{{ cssUrl | url }}">
	</head>

	<body>
		<main>
			{% include "breadcrumbs.njk" %}

			<article class="content">
				<div class="toggle-wrapper">
					<input type="checkbox" id="animation-toggle" name="animation-toggle" checked data-animation-toggle>
					<label for="animation-toggle">Play Animations</label>
				</div>
				<div class="grid">
					<div class="grid-third css">
						<div class="css-anim">
							<div class="eye-left"></div>
							<div class="eye-right"></div>
						</div>
						<span class="anim-label">CSS</span>
					</div>
					<div class="grid-third waapi">
						<div class="waapi-anim">
							<div class="eye-left">꩜</div>
							<div class="eye-right">꩜</div>
						</div>
						<span class="anim-label">WAAPI</span>
					</div>
					<div class="grid-third gsap">
						<div class="gsap-anim">
							<div class="eye-left"></div>
							<div class="eye-right"></div>
						</div>
						<span class="anim-label">GSAP</span>
					</div>
				</div>

				<div class="container mt-rando">
					<p>This page sets a preference in <code>localStorage</code> based off whether a user has opted out of animations (via system settings like System Preferences / Display / Reduce Motion) but also via a global toggle.</p>
					<p>The toggle will override the initial settings and persist until either the user changes their system settings or interacts with the global toggle.</p>
					<p>(Not 100% bulletproof yet, but it's a start)</p>
					<p><button class="pref-destroy">Destroy local preference</button>  <small>(Useful for a clean reload for testing initial state)</small>
					</p>
				</div>
			</article>
		</main>

		{%- set jsUrl %}/js/{{ identifier }}.js{% endset -%}
		<script type="module" src="{{ jsUrl | url }}"></script>
	</body>
</html>
