<!DOCTYPE html>
<html class="" lang="">
	<head>
		<meta charset="utf-8" />
		<title>A11y - Animation</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ '/src/css/common.css' | url }}">
	</head>

	<body>
		<code class="breadcrumbs">
			<a href="{{ '/' | url }}">&larr; Animation</a>
		</code>
		<div class="container flow m-content">
			<h1>Accessibility (a11y)</h1>
			<p class="flow-0">Techniques based around animation accessibility standards.</p>
			<hr>
			{% set postslist = collections['a11y'] %}
			{% include "postlist.njk" %}
		</div>
	</body>
</html>
