<code class="breadcrumbs">
	<a href="{{ '/' | url }}">&larr; Animation</a> / <a href="{{ '../ '}}" class="text-uppercase">{{tags}}</a>
</code>
{%- set cssSource %}https://github.com/nathanlong/animation/blob/main/css/{{ identifier }}.css{% endset -%}
{%- set jsSource %}https://github.com/nathanlong/animation/blob/main/js/{{ identifier }}.js{% endset -%}
<code class="source">
	<a href="{{cssSource}}">CSS Source</a> | <a href="{{jsSource}}">JS Source</a>
</code>
