<ul reversed class="postlist">
	{% for post in postslist %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		{% if post.data.identifier %}<code class="text-small text-gray text-uppercase">{{post.data.identifier}} -</code>{% endif %}
		<a href="{{ post.url | url }}" class="postlist-link">
			{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
		</a>
		{% if post.data.description %}- {{ post.data.description }}{% endif %}
	</li>
	{% endfor %}
</ul>
