<link rel="stylesheet" href="{{ '/public/css/common.css' | url }}">
{%- set cssUrl = ['/', tags[0]|lower, '/', (number|string).padStart(2, '0'), '-', identifier, '/styles.css'] | join %}
<link rel="stylesheet" href="{{ cssUrl | url }}">
