<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8" />
		<title>01 - Basics</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ '/css/common.css' | url }}">
		<link rel="stylesheet" href="{{ '/css/web-api-01.css' | url }}">
	</head>

	<body>
		<main id="content">
			<a href="../">&larr; Return</a>
			<h1>01 Basics</h1>
			<p>Buttons to control the play/pause of the animation as well as the playback speed.</p>

			<div id="animation-target"></div>

			<div class="animation-controls">
				<button id="spin">Spin Me Right Round</button>
				<button id="speed-up">Speed Up</button>
				<button id="reset">Slow Down</button>
				<button id="stop">Stop</button>
			</div>
			<div class="animation-controls">
				<button id="mouse-bind">Bind Playback Speed to MouseX</button>
			</div>
		</main>

		<script src="{{ '/js/web-api-01.js' | url }}"></script>
	</body>
</html>
