<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8" />
		<title>01 - Types of Animation - Thoughts - Animation</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ '/css/common.css' | url }}">
	</head>

	<body>
		<main id="content">
			<code class="breadcrumbs">
				<a href="{{ '/' | url }}">&larr; Animation</a> / <a href="{{ '../ '}}">Thoughts</a>
			</code>
			<div class="container">
				<h1><code class="text-gray">01:</code> Types of Animation</h1>
				<p>An attempt to classify the different types of animation that make up a web experience.</p>

				<hr>
				
				<h2>'Set-Piece'</h2>

				<p>Self-contained, elaborate animation used to powerful editorial effect or for elevating the experience aesthetically.</p>

				<p>Broken down further:</p>

				<ul>
					<li><strong>Editorial</strong>
						<ul>
							<li>Prominent animations, often containing a high-level of illustrations that add narrative value to the experience, but in an augmentive fashion, not as the central expeirence.</li>
						</ul>
					</li>
					<li><strong>Ambient</strong>
						<ul>
							<li>Occurs in the background, often not interactive. Adds to the aesthetic tone of the site, reinforcement of visual concepts, or helps the experience feel more 'alive'</li>
						</ul>
					</li>
				</ul>

				<hr>

				<h2>Functional</h2>

				<p>Conveying information to the user about the state of the system, and updates to it. (Visibility of system status, as a UX heuristic)</p>

				<ul>
					<li>Reduce Cognitive Load
						<ul>
							<li>Reduces confusion by effectively communicating user feedback</li>
							<li>Allows discoverability (if consistent)</li>
						</ul>
					</li>
					<li>Prevent change blindness</li>
					<li>Establish better recall in spacial awareness</li>
					<li>Explain, guide, or draw attention through non-verbal cues
						<ul>
							<li>Create relationships between elements on the screen</li>
							<li>Draw focus to critical areas</li>
						</ul>
					</li>
				</ul>

				<p>These can be further broken down into: <strong>Realtime</strong> (immediate direct interaction) and <strong>Non-Realtime</strong> (something occurs after or as as result of interaction).</p>

				<div class="inset">

				<h4>Links</h4>

				<ul>
					<li><a href="https://medium.com/ux-in-motion/creating-usability-with-motion-the-ux-in-motion-manifesto-a87a4584ddc">Creating Usability with Motion: The UX in Motion Manifesto</a></li>
				<li><a href="https://uxdesign.cc/ui-animation-please-use-responsibly-e707dbdb12d5">UI Animation: Please Use Responsibly</a></li>
				</ul>
				</div>

				<hr>

				<h2>Experiential</h2>
				
				<p>Refers to a system of interrelated animations that work together to make up a large part, or the entire experience of the system.</p>

				<hr>

				<h2>Narrative</h2>

				<p>Tells a story, often without words. Typically this is confined to longer formats of animation like film and cinema.</p>

				<div class="inset">
				<h4>Links:</h4>

				<ul>
					<li><a href="https://blogs.scientificamerican.com/thoughtful-animal/animating-anthropomorphism-giving-minds-to-geometric-shapes-video/">Animating Anthropomorphism</a></li>
				</ul>
				</div>
			</div>
		</main>
	</body>
</html>
