<!DOCTYPE html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8" />
		<title>Web API - Animation</title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ '/src/css/common.css' | url }}">
	</head>

	<body>
		<code class="breadcrumbs">
			<a href="{{ '/' | url }}">&larr; Animation</a>
		</code>
		<div class="container flow m-content">
			<h1>Web Animation API (WAAPI)</h1>
			<p class="flow-0">Techniques based around the <a href="https://caniuse.com/web-animation">natively-supported</a> API.</p>
			<hr>
			{% set postslist = collections['waapi'] %}
			{% include "postlist.njk" %}
		</div>
	</body>
</html>
