---
title: Curtain Scroll
description: Curtain rise/text color change effect
date: 2023-01-01
number: 01
identifier: title-scroll
tags: mixed
---
<!DOCTYPE html>
<html class="" lang="en-us">
	<head>
		<meta charset="utf-8" />
		<title>{{title}}</title>
		<meta name="description" content="{{description}}" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
    {% include "shared-css.njk" %}
	</head>

	<body>
		<main id="content">
			{% include "breadcrumbs.njk" %}

			<div class="scroll-hero-wrapper">
				<div class="scroll-hero">
					<div class="scroll-hero-side scroll-hero-front">
						<div class="scroll-hero-front-image"></div>
						<div class="scroll-hero-content">
							<div class="container flow">
								<h1 class="color-front"><code class="text-gray-white">01:</code> Title Scroll Crop</h1>
								<div class="text-large color-front">
									<p>This example uses a container that's 200vh with a sticky hero thats 100vh. Max-height is bound to the different of scroll position vs window height, which causes the 'curtain' to rise. Text is duplicated on two layers.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="scroll-hero-side scroll-hero-back">
						<div class="scroll-hero-content">
							<div class="container flow">
								<h1 class="color-back"><code class="text-gray">01:</code> Title Scroll Crop</h1>
								<div class="text-large">
									<p>This example uses a container that's 200vh with a sticky hero thats 100vh. Max-height is bound to the different of scroll position vs window height, which causes the 'curtain' to rise. Text is duplicated on two layers.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="container-inner flow">
				<p>And because the sticky element is contained in an element that has double height it stops at this point and normal text flow resumes.
				</p>
				<p>Consectetur odio iusto distinctio eligendi ipsum nisi, quibusdam. Quae laborum ipsum nam fuga neque maiores impedit? Laudantium aliquam omnis obcaecati doloremque nesciunt, tenetur sunt impedit Dolore eaque autem delectus dolor</p>
				<p>Ipsum ipsum harum necessitatibus labore natus Recusandae ratione minus ipsa reprehenderit illo. Veniam numquam placeat consectetur eligendi dicta nihil voluptatibus ea. Error mollitia unde perferendis harum voluptatum nulla aperiam! Dignissimos.</p>
				<p>And now more empty space for scroooooolllingggg...</p>
			</div>

			<div style="height: 3000px;"></div>
		</main>

    {% include "shared-js.njk" %}
	</body>
</html>
